
movieVue/.classpath
movieVue/.project
movieVue/.settings/.jsdtscope
movieVue/.settings/org.eclipse.core.resources.prefs
movieVue/.settings/org.eclipse.jdt.core.prefs
movieVue/.settings/org.eclipse.m2e.core.prefs
movieVue/.settings/org.eclipse.wst.common.component
movieVue/.settings/org.eclipse.wst.common.project.facet.core.xml
movieVue/.settings/org.eclipse.wst.jsdt.ui.superType.container
movieVue/.settings/org.eclipse.wst.jsdt.ui.superType.name
movieVue/.settings/org.eclipse.wst.validation.prefs
movieVue/.settings/org.hibernate.eclipse.console.prefs
movieVue/.settings/org.jboss.ide.eclipse.as.core.prefs
movieVue/target/classes/app.properties
movieVue/target/classes/builddef.lst
movieVue/target/classes/com/frapaego/movie/config/AppConfig.class
movieVue/target/classes/com/frapaego/movie/config/AppInitializer.class
movieVue/target/classes/com/frapaego/movie/config/DataJpaConfig.class
movieVue/target/classes/com/frapaego/movie/config/DataSourceConfig.class
movieVue/target/classes/com/frapaego/movie/config/Jackson2ObjectMapperConfig.class
movieVue/target/classes/com/frapaego/movie/config/JpaConfig.class
movieVue/target/classes/com/frapaego/movie/config/MessageSourceConfig.class
movieVue/target/classes/com/frapaego/movie/config/SecurityConfig.class
movieVue/target/classes/com/frapaego/movie/config/SecurityInitializer.class
movieVue/target/classes/com/frapaego/movie/config/SwaggerConfig.class
movieVue/target/classes/com/frapaego/movie/config/WebConfig.class
movieVue/target/classes/com/frapaego/movie/Constants.class
movieVue/target/classes/com/frapaego/movie/controller/HomeController.class
movieVue/target/classes/com/frapaego/movie/controller/MovieController.class
movieVue/target/classes/com/frapaego/movie/domain/Movie.class
movieVue/target/classes/com/frapaego/movie/domain/Movie_.class
movieVue/target/classes/com/frapaego/movie/DTOUtils.class
movieVue/target/classes/com/frapaego/movie/exception/InvalidRequestException.class
movieVue/target/classes/com/frapaego/movie/exception/NotFoundException.class
movieVue/target/classes/com/frapaego/movie/exception/ResourceNotFoundException.class
movieVue/target/classes/com/frapaego/movie/model/MovieForm.class
movieVue/target/classes/com/frapaego/movie/model/ResponseMessage$1.class
movieVue/target/classes/com/frapaego/movie/model/ResponseMessage$Error.class
movieVue/target/classes/com/frapaego/movie/model/ResponseMessage$Type.class
movieVue/target/classes/com/frapaego/movie/model/ResponseMessage.class
movieVue/target/classes/com/frapaego/movie/repository/MovieRepository.class
movieVue/target/classes/com/frapaego/movie/repository/MovieSpecifications.class
movieVue/target/classes/com/frapaego/movie/service/MovieService$AjcClosure1.class
movieVue/target/classes/com/frapaego/movie/service/MovieService$AjcClosure3.class
movieVue/target/classes/com/frapaego/movie/service/MovieService$AjcClosure5.class
movieVue/target/classes/com/frapaego/movie/service/MovieService$AjcClosure7.class
movieVue/target/classes/com/frapaego/movie/service/MovieService$AjcClosure9.class
movieVue/target/classes/com/frapaego/movie/service/MovieService.class
movieVue/target/classes/database.properties
movieVue/target/classes/i18n/errors.properties
movieVue/target/classes/i18n/messsages.properties
movieVue/target/classes/log4j.properties
movieVue/target/classes/META-INF/aop-ajc.xml
movieVue/target/classes/META-INF/orm.xml
movieVue/target/classes/META-INF/persistence.xml
movieVue/target/generated-sources/java/com/frapaego/movie/domain/Movie_.java
movieVue/target/maven-archiver/pom.properties
movieVue/target/movieVue.war
movieVue/target/movieVue/index.jsp
movieVue/target/movieVue/static/css/bootstrap-responsive.css
movieVue/target/movieVue/static/css/bootstrap-responsive.min.css
movieVue/target/movieVue/static/css/bootstrap.css
movieVue/target/movieVue/static/css/bootstrap.min.css
movieVue/target/movieVue/static/img/3.png
movieVue/target/movieVue/static/img/glyphicons-halflings-white.png
movieVue/target/movieVue/static/img/glyphicons-halflings.png
movieVue/target/movieVue/static/js/app.js
movieVue/target/movieVue/static/js/bootstrap.js
movieVue/target/movieVue/static/js/bootstrap.min.js
movieVue/target/movieVue/static/js/vue-resource.min.js
movieVue/target/movieVue/static/js/vue-router.min.js
movieVue/target/movieVue/static/js/vue.js
movieVue/target/movieVue/WEB-INF/classes/app.properties
movieVue/target/movieVue/WEB-INF/classes/builddef.lst
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/AppConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/AppInitializer.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/DataJpaConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/DataSourceConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/Jackson2ObjectMapperConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/JpaConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/MessageSourceConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/SecurityConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/SecurityInitializer.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/SwaggerConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/config/WebConfig.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/Constants.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/controller/HomeController.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/controller/MovieController.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/domain/Movie.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/domain/Movie_.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/DTOUtils.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/exception/InvalidRequestException.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/exception/NotFoundException.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/exception/ResourceNotFoundException.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/model/MovieForm.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/model/ResponseMessage$1.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/model/ResponseMessage$Error.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/model/ResponseMessage$Type.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/model/ResponseMessage.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/repository/MovieRepository.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/repository/MovieSpecifications.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService$AjcClosure1.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService$AjcClosure3.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService$AjcClosure5.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService$AjcClosure7.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService$AjcClosure9.class
movieVue/target/movieVue/WEB-INF/classes/com/frapaego/movie/service/MovieService.class
movieVue/target/movieVue/WEB-INF/classes/database.properties
movieVue/target/movieVue/WEB-INF/classes/i18n/errors.properties
movieVue/target/movieVue/WEB-INF/classes/i18n/messsages.properties
movieVue/target/movieVue/WEB-INF/classes/log4j.properties
movieVue/target/movieVue/WEB-INF/classes/META-INF/aop-ajc.xml
movieVue/target/movieVue/WEB-INF/classes/META-INF/orm.xml
movieVue/target/movieVue/WEB-INF/classes/META-INF/persistence.xml
movieVue/target/movieVue/WEB-INF/lib/activation-1.1.1.jar
movieVue/target/movieVue/WEB-INF/lib/antlr-2.7.7.jar
movieVue/target/movieVue/WEB-INF/lib/aopalliance-1.0.jar
movieVue/target/movieVue/WEB-INF/lib/aspectjrt-1.8.10.jar
movieVue/target/movieVue/WEB-INF/lib/aspectjweaver-1.8.10.jar
movieVue/target/movieVue/WEB-INF/lib/classmate-1.3.4.jar
movieVue/target/movieVue/WEB-INF/lib/commons-codec-1.10.jar
movieVue/target/movieVue/WEB-INF/lib/commons-dbcp-1.4.jar
movieVue/target/movieVue/WEB-INF/lib/commons-fileupload-1.3.3.jar
movieVue/target/movieVue/WEB-INF/lib/commons-io-2.5.jar
movieVue/target/movieVue/WEB-INF/lib/commons-lang3-3.5.jar
movieVue/target/movieVue/WEB-INF/lib/commons-pool-1.6.jar
movieVue/target/movieVue/WEB-INF/lib/dom4j-1.6.1.jar
movieVue/target/movieVue/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar
movieVue/target/movieVue/WEB-INF/lib/guava-20.0.jar
movieVue/target/movieVue/WEB-INF/lib/h2-1.4.196.jar
movieVue/target/movieVue/WEB-INF/lib/hibernate-commons-annotations-5.0.1.Final.jar
movieVue/target/movieVue/WEB-INF/lib/hibernate-core-5.0.12.Final.jar
movieVue/target/movieVue/WEB-INF/lib/hibernate-entitymanager-5.0.12.Final.jar
movieVue/target/movieVue/WEB-INF/lib/hibernate-jpa-2.1-api-1.0.0.Final.jar
movieVue/target/movieVue/WEB-INF/lib/hibernate-validator-5.3.5.Final.jar
movieVue/target/movieVue/WEB-INF/lib/httpclient-4.5.3.jar
movieVue/target/movieVue/WEB-INF/lib/httpcore-4.4.6.jar
movieVue/target/movieVue/WEB-INF/lib/jackson-annotations-2.8.0.jar
movieVue/target/movieVue/WEB-INF/lib/jackson-core-2.8.10.jar
movieVue/target/movieVue/WEB-INF/lib/jackson-databind-2.8.10.jar
movieVue/target/movieVue/WEB-INF/lib/jandex-2.0.0.Final.jar
movieVue/target/movieVue/WEB-INF/lib/javassist-3.21.0-GA.jar
movieVue/target/movieVue/WEB-INF/lib/javax.el-3.0.1-b08.jar
movieVue/target/movieVue/WEB-INF/lib/javax.el-api-3.0.1-b04.jar
movieVue/target/movieVue/WEB-INF/lib/javax.inject-1.jar
movieVue/target/movieVue/WEB-INF/lib/javax.mail-api-1.5.6.jar
movieVue/target/movieVue/WEB-INF/lib/javax.transaction-api-1.2.jar
movieVue/target/movieVue/WEB-INF/lib/jboss-logging-3.3.1.Final.jar
movieVue/target/movieVue/WEB-INF/lib/jcl-over-slf4j-1.7.25.jar
movieVue/target/movieVue/WEB-INF/lib/jsr250-api-1.0.jar
movieVue/target/movieVue/WEB-INF/lib/jstl-1.2.jar
movieVue/target/movieVue/WEB-INF/lib/log4j-1.2.17.jar
movieVue/target/movieVue/WEB-INF/lib/mapstruct-1.0.0.Final.jar
movieVue/target/movieVue/WEB-INF/lib/modelmapper-0.7.5.jar
movieVue/target/movieVue/WEB-INF/lib/slf4j-api-1.7.25.jar
movieVue/target/movieVue/WEB-INF/lib/slf4j-log4j12-1.7.25.jar
movieVue/target/movieVue/WEB-INF/lib/spring-aop-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-aspects-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-beans-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-context-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-context-support-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-core-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-data-commons-1.13.7.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-data-jpa-1.11.7.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-expression-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-jdbc-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-orm-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-plugin-core-1.2.0.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-plugin-metadata-1.2.0.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-security-config-4.2.3.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-security-core-4.2.3.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-security-web-4.2.3.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-tx-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-web-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-webmvc-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/spring-websocket-4.3.11.RELEASE.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-core-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-schema-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-spi-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-spring-web-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-swagger-common-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-swagger-ui-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/springfox-swagger2-2.5.0.jar
movieVue/target/movieVue/WEB-INF/lib/swagger-annotations-1.5.9.jar
movieVue/target/movieVue/WEB-INF/lib/swagger-models-1.5.9.jar
movieVue/target/movieVue/WEB-INF/lib/validation-api-1.1.0.Final.jar
movieVue/target/movieVue/WEB-INF/views/home.jsp
movieVue/target/tomcat/conf/logging.properties
movieVue/target/tomcat/conf/tomcat-users.xml
movieVue/target/tomcat/conf/web.xml
movieVue/target/tomcat/logs/access_log.2018-08-19
movieVue/target/tomcat/work/Tomcat/localhost/movieVue/org/apache/jsp/index_jsp.class
movieVue/target/tomcat/work/Tomcat/localhost/movieVue/org/apache/jsp/index_jsp.java
movieVue/target/tomcat/work/Tomcat/localhost/movieVue/org/apache/jsp/WEB_002dINF/views/home_jsp.class
movieVue/target/tomcat/work/Tomcat/localhost/movieVue/org/apache/jsp/WEB_002dINF/views/home_jsp.java
movieVue/target/tomcat/work/Tomcat/localhost/movieVue/SESSIONS.ser
